
binaries

homedirs/*
!/homedirs/rust_home

/homedirs/rust_home/*
!/homedirs/rust_home/.config

/homedirs/rust_home/.config/*
!/homedirs/rust_home/.config/Code

/homedirs/rust_home/.config/Code/*
!/homedirs/rust_home/.config/Code/User

/homedirs/rust_home/.config/Code/User/*
!/homedirs/rust_home/.config/Code/User/settings.json
!/homedirs/rust_home/.config/Code/User/keybindings.json

.directory
